# Assignment file
assignment_file/

# Virtual environment
venv/

# Cache files
*/__pycache__/

# VS Code settings
.vscode/

# Plots and figures
docs/figures_as_pdf/
docs/figures_as_png/

# Data directories
data/
